

.box-shadow {

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.tooltip .tooltip-content {
    visibility: hidden;
    font-size: 12px;
    display: inline-block;
    padding: 6px;
    background-color: #333;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    border-radius: 4px;
    
  }
  
  .tooltip:hover .tooltip-content {
    visibility: visible;
  }